/* Hide vertical scrollbar in left sidebar */
.bd-sidebar {
    overflow-y: hidden !important;
}

/* Ustaw font jak w Book 1 */
body, h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Source Sans Pro", sans-serif;
}